<div class="cls-login-body">
</div>
<div class="cls-login-grad"></div>


<div class="header">
    <div>Apartment Ticket Tracking&nbsp;<span>System</span></div>
</div>
<br>
<div class="login">
    <input type="text" placeholder="username" name="user" id="txtUserName"><br>
    <input type="password" placeholder="password" name="password" id="txtPassword"><br>
    <input type="button" value="Login" id="btnLogin">
</div>
<script type="text/javascript">
    app.__proto__.login = new Tracking.controller.login();
</script>